body {
  background-color: #B6EBFF;
}

.main-background {
  background-color: #185C77;
  width: 400px;
  height: 500px;
  border-radius: 50px;
  position: relative;
}

.secondary-background {
  background-color: #34A8D5;
  margin: 0px 0px 0px 0px;
  left: 20px;
  top: 50px;
  bottom: 50px;
  right: 20px;
  border-radius: 20px;
  position: absolute;
}

.calculator-model {
  color: white;
  font-family: 'Roboto Slab', serif;
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
}